/* the entire document*/
* {
  padding: 0;
  margin: 0;
  box: border-box;
  font-family: playfair, serif, Arial;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
/* contents of the documents params*/
/* entire body or view*/
body {
  background: url(/resources/ST1.jpg);
  background-size: cover;
  background-position: center; 
  background-attachment: fixed;
  perspective-origin: 0,0,0,45deg;
  color: white;
}

/*URL or home icons*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 10001;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 20px 19%;
  /*transition: 3s;*/
}

/*Logo image*/
.logo img {
  background: transparent;
  background-size: auto;
  max-width: 100%;
  width: 100px;
  height: 120px;
  margin: 0px 80px 0px 35%;
}

/*URL DOM or screen behaviour*/
.navlist {
  display: flex;
}

/* aligns them horizontal to view */
.navlist li {
  position: relative;
}

/*URL attributes*/
.navlist a {
  font-size: 25px;
  color: white;
  font-weight: 500;
  padding: 10px 27px;
}

/*URL position after DOM Loads*/
.navlist a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  /*transition: ease .40s;*/
}

/* for pc displays*/
.navlist a:hover::after {
  width: 100%;
}

/*Menu bar and pointer attribute*/
#menu-icon {
  font-size: 35px;
  color: white;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/*Body contents*/
section {
  padding: 100px 18%;
}

/*text and image view */
.home {
  min-height: 15vh;
  height: 35vh;
  width: 100vw;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 7rem;
}
/*Full stack text*/
.home-text h1 {
  margin: 15px 0px 25px;
  font-size: 35px;
  line-height: 1;
  font-weight: 500;
}

.home-text h5 {
  margin-top: 0vh;
  font-size: 30px;
  font-weight: 500;
}

span {
  color: white;
  width: 2rem;
}

.home-text h3 {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.home-text p {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  line-height: 28px;
  margin: 5em auto;
  border: 2px solid gold;
}

.home-img img {
  max-width: 100%;
  width: 200px;
  height: auto;
  margin-top: 10vh;
  border: 5px solid gold;
  border-radius: 30px;
}

/*About section or page attributes*/
.Skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 2rem;
}

/*About contents styling*/
.Skills .bullet-text {
  font-size: 30px;
  font-weight: 500;
  margin: 30vh 0px 26vh;
  line-height: 1, 1;
  border: 2px solid gold;

}

.about {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.about-text h5 {
  max-width: 100%;
  font-size: 2rem;
  font-family: Playfair, monospace;
  padding: 2px auto;
  color: white;
  line-height: 35px;
  margin: 30vh 0% 30vh 0%;
  border: 2px solid gold;
}

/*Titling on DOM*/
.heading {
  text-align: center;
}

.heading h2 {
  font-size: 30px;
  font-weight: 500;
  margin: 7px 0px 10px;
  line-height: 1, 1;
}

.heading h3 {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.heading p {
  font-size: 20px;
  color: white;
  line-height: 28px;
}

/*Table element on DOM*/
.table {
  position: center;
  margin-left: 20vw;
}

.table .table-content {
  align-items: center;
  font-weight: 500;
}

/*Image Section or contents*/
.portfolio {
  display: grid;
  grid-template-column: repeat(auto-fit, min-max(350px, auto));
  grid-gap: 10rem;
  align-items: center;
  margin: 5rem auto;
  text-align: center;
}

/*Image contents behaviour*/
.col {
  position: relative;
}

/*Image styling*/
.col img {
  max-width: 100%;
  width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

.contact {
  background: blue;
  width: 34%;
  margin: 10% auto;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 12px;
}

.container {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 3px;
  color: white;
}

.contact-text {
  font-size: 20px;
  color: white;
  line-height: 26px;
}

.container a {
  color: white;
  font-weight: 500;
}

.contact .action form input[placeholder='message'] {
  max-width: 100%;
  width: 50%;
  padding: 12px, 15px;
  background: white;
  color: black;
  border: none;
  outline: none;
  margin: 0px 0px 0px;
  border-radius: 30px;
}

.action form button[onclick='submit'] {
  background: white;
  color: black;
  border: none;
  outline: none;
  margin: 0px 10px 10px 0px 0;
  border-radius: 30px;
}

.footer-text p {
  text-align: center;
  font-size: 2vh;
}

@media(max-width:1425px) {
  header {
    padding: 16px 3%;
    transition: .3s;
  }

  header.sticky {
    padding: 10px 3%;
  }

  section {
    padding: 70px 3%;
  }

  .contact {
    width: 62%;
  }
}

@media (max-width:950px) {
  #menu-icon {
    display: block;
  }

  .home {
    min-height: 80vh;
  }

  .navlist {
    position: absolute;
    top: 6px;
    right: 0;
    flex-direction: row;
    background: transparent;
    text-align: center;
  }

  .navlist a {
    display: inline;
    padding: 1rem;
    margin: 1.5rem;
    border: transparent;
    color: white;
  }

  .navlist a:hover {
    background: black;
    color: white;
  }

  .navlist a::after {
    display: none;
  }

  .navlist .active {
    top: 10%;
  }
}

@media(max-width:800px) {
  .home {
    grid-column: 1fr;
    min-height: 100%;
    grid-gap: 1rem;
  }

  .home-text {
    padding-top: 7px;
  }

  .home-img {
    text-align: center;
  }

  .home-img img {
    width: 240px;
    height: auto;
  }

  .About {
    grid-template-columns: 1fr;
  }

  .about img {
    text-align: center;
    margin-bottom: 30px;
  }

  section {
    padding: 60% 3%;
  }
}

@media(max-width:540px) {
  .navlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .navlist li {
    right: -1;
    top: 0;
    
  }

  .navlist a {
    display: inline-block;
    font-size: 12px;
    padding: 2px;
    background-color: transparent;
  }
  
  .logo img{
    margin-left: 7%;
    width: 10%;
    height: 5%;
    position: relative;
  }
  .home {
    margin: 5% auto;
    font-size: 107%;
  }

  .home-text {
    padding-top: 7px;
  }

  .home-img {
    text-align: center;
  }

  .home-img img {
    width: 120px;
    height: auto;
  }

  .About {
    grid-template-columns: 1fr;
  }

  .about img {
    text-align: center;
    margin-bottom: 30px;
  }

  section {
    padding: 60% 3%;
  }

  .contact .action form input[type="email"] {
    width: 10%;
  }
}